<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
  	<servlet-name>luServlet</servlet-name>
  	<servlet-class>com.HurricaneElectric.MatrixCalculator.server.LUServiceRemote</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>luServlet</servlet-name>
  	<url-pattern>/matrixcalculator/luservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>qrServlet</servlet-name>
  	<servlet-class>com.HurricaneElectric.MatrixCalculator.server.QRServiceRemote</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>qrServlet</servlet-name>
  	<url-pattern>/matrixcalculator/qrservice</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MatrixCalculator.html</welcome-file>
  </welcome-file-list>

</web-app>
